---
// prerendered by default
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fortune Cookies</title>
  </head>
  <body>
		<nav>
			<p>
				<a href="/">Home</a> <a href="/about">About</a>
			</p>
		</nav>
		<main>
			<h1>About</h1>
			<p>Lorem ipsum dolor sit amet consequat voluptate qui quis reprehenderit veniam exercitation. Deserunt non magna fugiat proident occaecat magna magna et velit laborum cupidatat aliqua est. Qui duis nostrud aliquip sint proident labore aute esse enim cupidatat ad culpa fugiat sint.</p>
		</main>
  </body>
</html>