---
import fortune from 'fortune-messages';
const message: string = fortune();

export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fortune Cookies</title>
  </head>
  <body>
		<nav>
			<p>
				<a href="/">Home</a> <a href="/about">About</a>
			</p>
		</nav>
		<main>
			<h1>Your Fortune</h1>
			<p>{message}</p>
		</main>
  </body>
</html>